/* General form stylesheet */

/* Form */
.q-form {
  width        : 600px;
  min-width    : 500px;
  margin       : 200px auto;
  border       : 1px solid #116466;
  border-radius: 3px;
}

.q-form .social-media__links--option-rule {
  width     : 100%;
  border-top: 1px solid #116466;
  margin-top: 30px;
  text-align: center;
}

.q-form .social-media__links--signup-option {
  display         : block;
  margin          : -10px auto 0 auto;
  text-align      : center;
  font-weight     : 600;
  background-color: #f4f4f4;
  line-height     : 1rem;
  width           : 60px;
  color           : #07504c;
}

.q-form h3 {
  text-align: center;
  font-size : 2rem;
  color     : #116466;
}

.q-form abbr[title="required"] {
  color: #f55;
}

.q-form .q-form__input-name {
  width  : calc(90% / 2);
  display: inline-block;
}

.q-form .q-form__input-name:nth-child(1) {
  margin-right: 2%;
}

.q-form .q-form__input-name {
  width: 48%;
}

.q-form .q-form__input {
  margin: 10px 0;
}

.q-form input {
  width  : 100%;
  padding: 1rem;
  outline: none;
  border : 1px solid #116466;
}

.q-form label {
  display      : block;
  margin-bottom: 5px;
  font-weight  : bold;
}

.q-form #forgot-pwd {
  float : right;
  margin: 5px;
}

.q-form .q-form__btn {
  display         : block;
  margin          : 50px auto 0 auto;
  width           : 100%;
  padding         : 1rem;
  border          : none;
  background-color: #116466;
  color           : #ffffff;
  cursor          : pointer;
  transition      : background-color 0.3s;
}

.q-form button:hover {
  background-color: #07504c;
}

.q-form .social-media__links {
  margin    : 20px auto 50px;
  transition: background-color 0.3s;
}

.q-form .social-media__links ul {
  list-style: none;
  margin    : 0;
  padding   : 0;
}

.q-form .social-media__links li {
  text-align   : center;
  margin-bottom: 10px;
}

.social-media__links a {
  display         : flex;
  width           : 100%;
  color           : #ffffff;
  background-color: grey;
  padding         : 0.8rem;
  text-decoration : none;

  img {
    display: block;
    width  : 30px;
    height : 30px;
  }

  span {
    display: block;
    flex   : 2 0 auto;
    line-height: 2.5;
  }
}

.q-form .social-media__links .facebook {
  background-color: #3b5998;
  transition      : background-color 0.3s;
}

.q-form .social-media__links .facebook:hover {
  background-color: #2e4474;
}

.q-form .social-media__links .google {
  background-color: #db4a39;
}

.q-form .social-media__links .google:hover {
  background-color: #cb4a39;
}

.q-form .password-input {
  position: relative;
}

.q-form .toggle-password-visibility {
  position        : absolute;
  top             : 34px;
  right           : 5px;
  color           : #fff;
  text-transform  : uppercase;
  font-weight     : bold;
  cursor          : pointer;
  background: transparent;

  &:hover {
    background-color: transparent;
  }

  .toggle-password__image {
    width: 25px;
    height: 25px;
  }
}

.q-form__input {
  border       : #d4d9e2 1px solid;
  border-radius: 3px;
  padding      : 1rem;
  color        : #596377;
  outline      : none;
  width        : 100%;
  display      : block;
  margin-bottom: 8px;
}

.q-form__label,
.q-form__input,
.q-form__textarea,
.q-form__image-upload {
  margin-bottom: 10px;
  font-family  : Roboto, Helvetica, Arial, sans-serif;
}

.q-form .q-form__input:focus,
.q-form .q-form__textarea:focus {
  border: 2px solid #116466;
}

.q-form__textarea {
  width      : 100%;
  resize     : vertical;
  border     : #d4d9e2 1px solid;
  min-height : 200px;
  max-height : 300px;
  font-family: Roboto, Helvetica, sans-serif;
  padding    : 1rem;
}

.q-form__button,
.q-form__label {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.q-form__label {
  display       : block;
  font-weight   : 600;
  color         : #434c5e;
  margin-bottom : 8px;
  font-size     : 11px;
  text-transform: uppercase;
}

.q-form__button {
  border       : none;
  outline      : 0;
  margin       : 20px auto;
  display      : block;
  background   : #116466;
  border-radius: 100px;
  height       : 50px;
  line-height  : 50px;
  padding      : 0 60px;
  font-size    : 12px;
  font-weight  : 600;
  color        : #fff;
  transition   : box-shadow 0.2s ease, border 0.2s ease,
    -webkit-box-shadow 0.2s ease, background-color 0.2s;
  cursor: pointer;
}

.q-form__button:hover {
  box-shadow      : 2px 2px 4px #d4d9e2;
  background-color: #07504c;
}

.q-form__image-upload {
  width: 100%;
}

.q-form__group {
  margin-bottom: 10px;
}

/* Button forms */
.q-large__button {
  width: 100%;
}

.q-flat-square__button {
  border-radius: 0;
}

form abbr[title="required"] {
  color: #f44;
}

.auth-process__feedback {
  padding: 20px 10px;
  background: #f44;
  color: #fff;
  font-size: 1em;
  margin: 20px auto;
}

.password-match__feedback {
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .q-form {
    width    : 90%;
    min-width: 0;
  }

  .q-form .q-form__input-name {
    width  : 100%;
    display: block;
  }

  .q-form .q-form__input-name {
    width: 100%;
  }
}