.heading-sec__primary {
  font-size  : 1.8em;
  font-family: "Aleo", serif;
}

#questioner-what .questioner-what__text {
  text-align : center;
  font-size  : 1.5em;
  font-weight: 700;
  padding    : 1em;
}

#questioner-what .cards .q-card,
#questioner-how .cards .q-card {
  box-shadow: none;
}

/* Right Nav */
.q-right-nav a {
  padding      : 0.5rem;
  border-radius: 5px;
}

/* Right Nav Buttons */
.q-right-nav .sign-in,
.q-right-nav .sign-up {
  transition: border 0.2s ease;
}


.q-right-nav .sign-in {
  border      : 1px solid #ffcb9a;
  text-align  : center;
  margin-right: 10px;
  color       : #ffcb9a;
}

.q-right-nav .sign-in:hover {
  background-color: #ffcb9a;
  color           : #116466;
}

.q-right-nav .sign-up {
  border    : none;
  background: #ffcb9a;
  color     : #116466;
}

.q-right-nav .sign-up:hover {
  background: transparent;
  border    : 1px solid #ffcb9a;
  color     : #ffcb9a;
}

.q-showcase {
  width     : 100%;
  height    : 400px;
  max-height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/showcase2.jpg") center/cover no-repeat;
  margin-top: 70px;
  padding   : 0 0 100px 0;
}

.q-showcase {
  width     : 100%;
  height    : 400px;
  max-height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/showcase2.jpg") center/cover no-repeat;
  margin-top: 70px;
  padding   : 0 0 100px 0;

  .q-showcase__content {
    display       : flex;
    flex-direction: column;
  }

  .q-showcase__text {
    padding   : 0;
    display   : inline-block;
    width     : 100%;
    margin    : calc(400px / 2) auto 0 auto;
    text-align: center;
  }

  a[role="button"] {
    display           : block;
    margin            : 10px auto;
    padding           : 1em 2.5em;
    border-radius     : 30px;
    width             : 30%;
    min-width         : 200px;
    text-align        : center;
    -webkit-transition: background-color 0.3s, width 0.3s;
    -moz-transition   : background-color 0.3s, width 0.3s;
    -o-transition     : background-color 0.3s, width 0.3s;
    transition        : background-color 0.3s, width 0.3s;

    &:hover {
      background: #07504c;
    }

    &:active {
      background: #116466;
    }
  }
}

/* General styling for cards */

.cards {
  margin: 20px auto;
  width : 100%;
}

.cards .q-card {
  margin-right : 20px;
  height       : 300px;
  max-height   : 300px;
  border       : 1px solid #596377;
  border-radius: 3px;
  cursor       : pointer;
  transition   : box-shadow 0.3s ease;
}

.cards .q-card__no-border {
  border: none;
}

/* Cards main content */
.q-card .q-card__primary {
  width        : 100%;
  height       : 200px;
  border-bottom: 1px solid #116466;
}

.q-card .q-card__primary .content {
  max-width: 100%;
  position : relative;
}

.q-card__primary .content img {
  width : 100%;
  height: 200px;
}

.q-card__primary .content .meetup-details {
  width  : 100%;
  display: flex;
}

.q-card__primary .meetup-details .meetup-details__sec {
  text-align: center;
  width     : 20%;
}

.q-card__primary .meetup-details__sec .date__sec_month {
  color     : #116466;
  padding   : 0;
  margin-top: 5px;
}

.q-card__primary .meetup-details__sec .date__sec_date {
  color: #596377;
}

.q-card__primary .meetup-details .meetup-details__primary {
  width      : 80%;
  margin-left: 20px;
}

.q-card__primary .content .meetup-details span {
  display: block;
}

.q-card__primary .content .meetup-details h3 {
  margin    : 0;
  margin-top: 5px;
  text-align: left !important;
}

.q-card__primary .content .q-asked-count {
  position : absolute;
  top      : 10px;
  left     : 10px;
  color    : #ffffff;
  font-size: 2rem;
  cursor   : pointer;
}

.q-card .q-card__sec .meetup-title {
  font-size: 1.4rem;
}

.q-card .q-card__sec .meetup-sched-date {
  color  : #333333;
  padding: 0;
}

.cards .q-card:hover {
  box-shadow: 1px 2px 2px #d4d9e2;
}

.cards .q-card__no-border {
  border: none;
}

.q-card__no-border img {
  width  : 20%;
  display: block;
  margin : 0 auto 20px auto;
}

#q-cards h3,
.q-how-question-works h3 {
  text-align: center;
}

.q-cards__more,
.get-started-btn {
  color           : #333333;
  /* color        : #116466; */
  display         : block;
  border          : none;
  padding         : 1rem;
  cursor          : pointer;
  margin          : 0 auto;
  background-color: #ffcb9a;
  font-weight     : bold;
}

.get-started-btn {
  text-align: center;
  width     : 30%;
}

.q-cards__more {
  border   : 1px solid #333333;
  padding  : 0.7rem;
  transform: background-color 0.3s;
}

.get-started-btn:hover,
.q-cards__more:hover {
  background-color: #f7b77c;
}

.get-started-btn:active {
  background-color: #ffcb9a;
}

/* Mobile Devices */
@media (max-width: 768px) {
  .cards {
    display: block;
  }

  .cards .q-card {
    width        : 100%;
    display      : block;
    margin-right : 0;
    margin-bottom: 20px;
  }

  .get-started-btn {
    width: 90%;
  }

  .q-showcase a[role="button"] {
    width: 90%;
  }
}

/* Tablets */
@media (max-width: 992px) {
  .cards {
    display: block;
  }

  .cards .q-card {
    margin-bottom: 20px;
  }

  .q-showcase h2 {
    margin: calc(300px / 2) auto 0 auto;
  }
}

/* Laptop and Desktop Viewport */
@media (min-width: 992px) {
  .cards {
    display: flex;
  }

  .cards .q-card {
    flex         : 1 1 calc(100% / 3 - 20px);
    margin-bottom: 20px;
  }
}